mixin picture(pictureClass, name)
	picture.img(class=`img--${pictureClass}`)
		source.img__item(srcset=`img/${name}.webp` type="image/webp")
		source.img__item(srcset=`img/${name}.jp2` type="image/jp2")
		img.img__item(src=`img/${name}.png` alt=name)
